body {
    font-family: Arial, Helvetica, sans-serif,Verdana;
    font-size:16px;
    color:white;
    background-color:black;
}

h1 {
    margin-top:50px;
    margin-bottom:50px;
    text-align:center;
}

.font36 {
    font-size: 36px;
}

.normbutton {
    font-size: 36px;
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

input {
    font-size: 36px;
    width:100%;
}

.normbutton:hover {
    background-color: #3e8e41;
}

#work,#home,#fun {
    margin-top: 50px;
    font-size: 36px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;

}

th, td {
    text-align: left;
    padding: 16px;
    font-size: 36px;
    width: 33%;
    border: 1px solid white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
    color: black; 
}


.btn-group button {
    font-size: 36px;
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

    .btn-group button:not(:last-child) {
        border-right: none; /* Prevent double borders */
    }

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}